<!-- <div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign up</h3>
                    </div>
                    <div class="panel-body p-3">

                        <form [formGroup]="signupForm">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2" aria-hidden="true"></span>
                                    <input formControlName="name" class="form-control shadow-none" type="text" placeholder="Enter Name">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required','name')" class="text-danger"> *Name is required </small> 
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-envelope p-2" aria-hidden="true"></span>
                                    <input formControlName="email" class="form-control shadow-none" type="email" placeholder="Enter email">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')" class="text-danger"> *Email is required </small> 
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-phone p-2" aria-hidden="true"></span>
                                    <input formControlName="phone" class="form-control shadow-none"  placeholder="+95">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['phone'].dirty && signupForm.hasError('required','phone')" class="text-danger"> *Phone is required </small> 
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2" aria-hidden="true"></span>
                                    <input formControlName="password" class="form-control shadow-none" [type]="type" placeholder="password">
                                    <span (click)="hideShowPassword()" class="fa fa-eye-slash"></span>
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger"> * Password is required </small>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2" aria-hidden="true"></span>
                                    <input formControlName="confirmpassword" class="form-control shadow-none" type="type" placeholder="Confirm password">
                                </div>
                            </div>
                            <button [disabled]="signupForm"  type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign up</button>
                            <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a></div>

                        </form>
                    </div>
                   <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3"><a class="text-decoration-none"
                                href="https://www.facebook.com/aceinspiration">
                                <p class="text-truncate text-decoration-none" 
                                    style="font-size: 17px;">
                                    <img [src]="url"
                                        style="width: 18px;">&nbsp; www.facebook.com/ACE Inspiration
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Sign Up Form by Colorlib</title>
 </head>
 <body>
 
     <div class="main">
         <section class="signup">
             <div class="container">
                 <div class="signup-content">
                     <div class="signup-form">
                         <h2 class="form-title">Sign up</h2>
                         <form  class="register-form" id="register-form">
                             <div class="form-group">
                                 <label for="name"><i class="fa fa-user p-2"></i></label>
                                 <input type="text" name="name" id="name" placeholder="Your Name"/>
                             </div>
                             <div class="form-group">
                                 <label for="email"><i class="fa fa-envelope p-2"></i></label>
                                 <input type="email" name="email" id="email" placeholder="Your Email"/>
                             </div>
                             <div class="form-group">
                                <label for="phone"><i class="fa fa-phone p-2"></i></label>
                                <input type="phone" name="phone" id="phone" placeholder="Your Phone"/>
                            </div>
                             <div class="form-group">
                                 <label for="pass"><i class="fa fa-lock p-2"></i></label>
                                 <input type="password" name="pass" id="pass" placeholder="Password"/>
                             </div>
                             <div class="form-group">
                                 <label for="re-pass"><i class="fa fa-lock p-2"></i></label>
                                 <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                             </div>
                             <div class="form-group form-button">
                                 <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                             </div>
                         </form>
                     </div>
                     <div class="signup-image">
                         <figure><img [src]="url" alt="sing up image"></figure>
                         <a href="#" class="signup-image-link">I am already member</a>
                     </div>
                 </div>
             </div>