<div class="menu">

    <h3 style="color:rgb(13, 13, 14)">DIR-Ace Technology</h3>
    <ul>
        <li><i class="fa fa-user" aria-hidden="true"></i>&nbsp; &nbsp;<a href="">My Profile</a></li>
        &nbsp; &nbsp;
        <li><i class="fa-solid fa-pen-to-square"></i>&nbsp; &nbsp;<a href="">Edit Profile</a></li>
        &nbsp; &nbsp;
        <li><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; &nbsp;<a href="">Logout</a></li>
    </ul>
    <button (click)="backWorkspace()" type="button" class="btn btn-primary">Cancel</button>

</div>

