<!-- 
<h1><strong>Let's build a Workspace</strong></h1>
  <p>Boost your productivity by making it easier for everyone to access boards in one location.</p>

<form >  [formGroup]="exform" 
      <div class="form-group">
          <label class="col-form-label">Workspace name</label>
          <input formControlName="name" placeholder="ACEs's Co." type="text" class="form-control">
             <small *ngIf="name.invalid && name.touched" class="text-danger">Name is Required</small>  
      </div>
                
     <p><small>This is the name of your company, team or organization.</small></p>
           
      <div class="form-group">
          <label class="col-form-label">Workspace type</label>
           <input formControlName="email" placeholder="Choose..." type="text" class="form-control" > 
         <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small> 
          <select  class="form-select">
            <option value="default">Choose...</option>
            <option *ngFor="let n of workspacetype">{{ n.name }}</option>
          </select>
          <select  class="form-select"  aria-label="Education" id="userRole" name="userRole" 
          [(ngModel)]="user.role"   required text="Role">
          <option disabled selected value=""> -- Select an option -- </option>
            <option value="Admin" >Admin</option>
            <option value="User">User</option>
          </select>
         
      </div>

      <div class="form-group">
          <label class="col-form-label">Workspace Description</label>
          <textarea formControlName="message" class="form-control" ></textarea>
         <small *ngIf="message.invalid && message.touched" class="text-danger"> Message is Required(minimum length 10)</small> 
      </div>

        <p><small>Get your members on board with a few words about your Workspace.</small></p>

      <button  type="button" data-bs-toggle="modal" data-bs-target="#secondPopup" class="btn btn-primary">Continue</button> &nbsp; &nbsp;
      <button  (click)="backWorkspace()" type="button" class="btn btn-primary">Cancel</button>
     (click)="clicksub()" [disabled]="exform.invalid"         
</form>


<div class="modal" id="secondPopup">
   
</div> -->


<div class="main_contents" >
    <div id="sub_content">
       
      <form>
 
        <p align="right"><button class="rounded-circle" type="button" (click)="backWorkspace()"><i class="fa fa-times" aria-hidden="true"></i></button></p>
        <h2 class="col-md-6 offset-md-5 mb-10 mt-6">Let's build a workspaces</h2>
        <p>Boost your productivity by making it easier for everyone to access boards in one location.</p>
           
          <div class="col-md-1"></div>
              <label for="name" class="col-md-3 col-form-label">Workspaces Title</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="404" id="name" name="name"
                   required>
                </div>
              <!-- [(ngModel)]="workspace.id"  -->
             <p><small>This is the name of your board, team or organization.</small></p>
             
           <div class="col-md-1"></div>
            <label for="type" class="col-md-3 col-form-label">Workspace Type</label>
              <div class="col-md-8">
                <select  class="form-select"  aria-label="Education" id="type" name="type" 
                   required text="type">
                  <option disabled selected value="">Choose...</option>
                  <option value="Human Resource">Human Resource</option>
                  <option value="Education">Education</option>
                  <option value="Engineering-IT" >Engineering-IT</option>
                  <option value="Sales CRM">Sales CRM</option>
                  <option value="Operations" >Operations</option>
                  <option value="Small Business">Small Business</option>
                  <option value="Marketing" >Marketing</option>
                  <option value="other">other</option>
                </select>
              </div>
              <p></p> 
          
  
          <!-- <div class="col-md-1"></div>
            <label for="type" class="col-md-3 col-form-label">Board members</label>
            <div class="col-md-8">
              <input type="email" class="form-control" placeholder="eg.john@gmial.com" id="mail" name="mail"
               required multiple>
            </div>
          [(ngModel)]="user.id"
         <p><small>Invite your new team members to get going!.</small></p> -->
  
             
          <div class="col-md-1"></div>
            <label for="description" class="col-md-3 col-form-label">Description</label> 
            <div class="col-md-8">
              <textarea formControlName="message" class="form-control" ></textarea>  
            </div>  
            <p></p>
      
          <div class="col-md-1"></div>
            <div >
              <button type="submit" data-bs-toggle="modal" data-bs-target="#secondPopup"  class="btn btn-primary col-md-3 addsubmits">Invite</button>&nbsp; &nbsp;
              <!-- <button type="button" (click)="backWorkspace()" class="btn btn-danger col-md-2 addsubmits">cancel</button> -->
            </div>
              
  
      </form>
</div>
</div>

<!-- <div class="modal" id="secondPopup"></div>  -->


