

 <h2 class="col-md-6 offset-md-5 mb-10 mt-6">Create Board</h2>

 <div class="col-md-1"></div>
 <label for="name" class="col-md-3 col-form-label">Board Title *</label>
   <div class="col-md-8">
     <input type="text" class="form-control" placeholder="404" id="name" name="name"
      required>
   </div>
 <!-- [(ngModel)]="user.id"  -->
<p><small>Board title is required.</small></p>


 <div class="col-md-1"></div>
 <div >
   <button type="submit" data-bs-toggle="modal" data-bs-target="#secondPopup"  class="btn btn-primary col-md-3 addsubmits">Invite</button>&nbsp; &nbsp;
   <button type="button" (click)="backHome()" class="btn btn-danger col-md-3 addsubmits">cancel</button>
 </div>
   