<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-- <div style="background:#303030;height:93vh" class="col-md-3"> -->
        <div style="background: rgb(86, 124, 226)" class="col-md-2">  <!--linear-gradient(#ff9494,#9870f5)-->
            <div>
                <mat-card class="mt-3">

                    <form [formGroup]="todoForm">
                        <mat-form-field apperance="outline">
                            <mat-label>Task Name</mat-label>
                            <input formControlName="item" matInput placeholder="Placeholder">
                            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                            <mat-hint>add task name</mat-hint>
                        </mat-form-field>
                        <button *ngIf="!isEditEnabled" (click)="addTask()" mat-raised-button [disabled]="todoForm.invalid" color="primary">Add</button>
                        <button *ngIf="isEditEnabled" (click)="updateTask()" mat-raised-button [disabled]="todoForm.invalid" color="primary">Update</button>
                    </form>

                </mat-card>
            </div>
        </div>

        <div class="col-md-5">
           <div cdkDropListGroup>
              <div class="row">

                <div class="col-md-4">
                    <div class="example-container">
                        <h3 class="head-title">TO DO <span *ngIf="tasks.length > 0">-{{tasks.length}}</span></h3>
                        <div cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of tasks; let i = index" cdkDrag>{{item.description}}
                        <div class="box">
                            <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon> </button>
                            <button mat-icon-button color="primary" (click)="onEdit(item,i)"><mat-icon>edit</mat-icon> </button>
                        </div>
                       </div>
                    </div>
                </div>
                </div>

                <div class="col-md-4">
                    <div class="example-container">
                        <h3 class="head-title">IN PROGESS <span *ngIf="inprogess.length > 0">-{{inprogess.length}}</span></h3>
                        <div cdkDropList [cdkDropListData]="inprogess" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of inprogess; let i = index" cdkDrag>{{item.description}}
                            <button mat-icon-button color="warn" (click)="deleteInProgessTask(i)"><mat-icon>delete</mat-icon> </button>
                        </div>
                        </div>
                      </div>
                </div>

                <div class="col-md-4">
                    <div class="example-container">
                        <h3 class="head-title">DONE <span *ngIf="done.length > 0">-{{done.length}}</span></h3>
                        <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of done; let i = index" cdkDrag>{{item.description}}
                            <div class="box">
                                <button mat-icon-button color="warn" (click)="deleteTask(i)"><mat-icon>delete</mat-icon> </button>
                                <button mat-icon-button color="accent"><mat-icon>check_circle</mat-icon> </button>
                            </div>
                        </div>
                        </div>
                      </div>
                </div>

                <div class="col-md-4">
                    <div class="example-container">
                        <h3 class="head-title">Another Progess</h3>
                        <div class="example-list"></div>
                        <div>
                        <button type="button"  class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i>
                            Add</button>
                        <!-- </div> -->
                        </div>
                      </div>
                    </div>
                    
                </div>              
           </div>          
        </div>        
    </div>
</div>
